
@{
    Layout = null; // sem master page sem um (layout padrão)
    var dataAtual = DateTime.Now; // obtem um objeto dateTime  definido com a data e hora atual no computador 

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.curso     @*//pegando a informação do dicionario Viewbag atribuida na ação Index do controlador Razor*@
        <p>Data : @dataAtual</p>
        @*<p>Hora : @hora - Turno : @turno</p>*@

        <p> Hora : @ViewBag.hora - Turno : @ViewBag.turno</p>
    </div>
</body>
</html>
